body{
    background-color: cornflowerblue;
    font-family: 'Fira Code', monospace;
    padding: 150px;
    margin: 0;
}

h1{
    text-align: center;
}

*,*::before,*::after{
    box-sizing: border-box;
    font-weight: normal;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid lightskyblue;
    background-image: linear-gradient(#00bf8f,#9dc5bc);
    outline: none;
    border-radius: 5px;
    font-family: 'Fira Code', monospace;
}

.calculator-grid > button:hover{
    background-image: linear-gradient(#D31027,#EA384D);
}

.span-two{
    grid-column: span 2;
    
}

.output{
    grid-column:  1/-1;
    background-color: lightslategrey;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 8px;
    word-wrap: break-word;
    word-break:break-all
}

.output .previous-operand {
    color: wheat;
    font-size: 1.5rem;
}

.output .p-operand {
    color: whitesmoke;
    font-size: 1.5rem;
}